<h2 class="page-header">Dashboard</h2>

<form class="form-signin" method="post" action="/codechef">
    <h2 class="form-signin-heading" align="center">C++ Editor</h2>

    <textarea id="code" name="code" class="form-control" placeholer="C++" rows="15" >
                                      </textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>
<!--<ul class="list-group">-->
    <!--<a href="/hackerrank"> <li class="list-group-item justify-content-between">-->
        <!--HackerRank-->
        <!--<span class="badge badge-default badge-pill">14</span>-->
    <!--</li></a>-->
    <!--<a href="/codechef"> <li class="list-group-item justify-content-between">-->
        <!--CodeChef-->
        <!--<span class="badge badge-default badge-pill">2</span>-->
    <!--</li></a>-->
    <!--<a href="/codeforces"> <li class="list-group-item justify-content-between">-->
        <!--CodeForces-->
        <!--<span class="badge badge-default badge-pill">1</span>-->
    <!--</li></a>-->
<!--</ul>-->